input[type='text']{
  width: 100%;
  padding: 5px;
  font-size: 1.1em;
  border: none;
  outline: none;
}

p.null-msg{
  color: darkred;
  text-align: center;
  font-size: 1.1em;
  border: solid #b8c0cb;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #b8c0cb;
  margin: 5px;
  margin-left: 5%;
}

.btn-utility{
  color: deepskyblue;
  padding: 4px;
  border: 2px solid deepskyblue;
  border-radius: 4px;
  background: white;
  margin: 5px;
}

.btn-utility:hover{
  color: white;
  background: deepskyblue;
}

.audio-table{
  display: none;
}

.input-item{
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  display: flex;
  width: 78%;
}

.input-item label{
  font-size: 0.9em;
  text: uppercase;
}

input[type='submit']{
  color: green;
  background: white;
  border: solid green 3px;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.2em;
  width: 20%;
}

input[type='submit']:hover{
  color: beige;
  background: green;
}

form{
  display: inline-flex;
  width: 100%;
  flex-flow: wrap;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td{
  padding: 4px;
}

tbody.tr:hover{
  background: aqua;
}

th{
  background: #15ea4a;
  padding: 5px;
  font-size: 1.1em;
  text-align: center;
}

.do-btn{
  border: solid violet;
  color: violet;
}

.do-link, download-link {
  color: inherit;
  text-decoration: none;
}

.do-btn:hover {
  color: white;
  background: violet;
}

.download-btn, .do-btn{
  padding: 3px;
  background: white;
  border: 2px;
  border-radius: 4px;
}

.download-btn {
  border: 2px #00ff80 solid;
  color: #00ff80;
}

.download-btn:hover {
  background: #00ff80;
  color: white;
}

table {
  width: 50%;
  margin-left: 25%;
}