{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube Download</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
  <div class="content">
    <h1>YouTube Downloader</h1>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div class="input-item">
        <label>Url</label>
        <input type="text" name="url" id="url" placeholder="https://www.youtube.com/watch?v=dQw4w" required/>
      </div>
      <input type="submit" value="Submit"/>
    </form>
    <div>
      {% if data|length > 0 %}
        <div>
          <button class="btn-utility" id="video-btn">Video</button>
          <button class="btn-utility" id="audio-btn">Audio</button>
        </div>
        {% if videos|length > 0 %}
          <table class="video-table">
            <thead>
              <tr>
                <th>Extension</th>
                <th>Format</th>
                <th>FileSize</th>
                <th colspan=2></th>
              </tr>
            </thead>
            <tbody>
            {% for video in videos %}
              <tr>
                <td>{{video.ext}}</td>
                <td>{{video.format}}</td>
                <td>{{video.filesize}}</td>
                <td>
                  <button class="do-btn">
                    <a href="{{video.url}}" class="do-link">
                      Watch
                    </a>
                  </button>
                </td>
                <td>
                  <button class="download-btn">
                    <a class="download-link" href="/download video/{{video.format_id}}/?url={{url}}">
                      Download
                    </a>
                  </button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="null-msg">
            There are no videos to download please enter another url from YouTube
          </p>
        {% endif %}
        {% if audio|length > 0 %}
          <table class="audio-table">
            <thead>
              <tr>
                <th>extension</th>
                <th>FileSize</th>
                <th colspan=2></th>
              </tr>
            </thead>
            <tbody>
              {% for sound in audio %}
                <tr>
                  <td>mp3</td>
                  <td>{{sound.filesize}}</td>
                  <td>
                    <button class="do-btn">
                      <a href="{{sound.url}}" class="do-link">
                        listen
                      </a>
                    </button>
                  </td>
                  <td>
                    <button class="download-btn">
                      <a class="download-link" href="/download audio/{{sound.format_id}}/?url={{url}}"> 
                        download
                      </a>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="null-msg">
            There are no videos to download please enter another url from YouTube
          </p>
        {% endif %}
      </div>
    {% else %}
     <p class="null-msg">There is no data to display!!!</p>
    {% endif %}
  </div>
  <script src="{% static 'js/function.js' %}"></script>
</body>
</html>